# =========================
# Dependencies
# =========================
node_modules

# =========================
# Build outputs
# =========================
dist
build
.next
out

# =========================
# Turborepo
# =========================
.turbo

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# OS
# =========================
.DS_Store

# =========================
# IDE / Editor
# =========================
.vscode
.idea
*.sublime-workspace
notas.txt

# =========================
# Testing
# =========================
coverage
.nyc_output

# =========================
# Next.js
# =========================
.vercel

# =========================
# TypeScript
# =========================
*.tsbuildinfo
next-env.d.ts

# =========================
# Misc
# =========================
*.pem
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock

# =========================
# Prisma (IMPORTANTE)
# =========================
prisma/*.db
prisma/*.db-journal

prisma/migrations/dev.db
prisma/migrations/*.db